<footer class="footer primary">
  <div class="row full-width">
    <div class="small-12 medium-6 large-8 columns">
      <h4>Me contacter</h4>
      <form novalidate class="simple-form row">
        <div class="small-12 medium-12 large-6 columns">
          Name: <input type="text" ng-model="e" />
        </div>
        <div class="noseperate small-12 medium-12 large-6 columns">
          E-mail: <input type="email" ng-model="a" />
        </div>
        <div class="noseperate small-12 medium-12 large-12 columns">
          Message
          <textarea rows="5" cols="50"></textarea>
          <p class="help-text" id="passwordHelpText">au moins: 0/150 caractére</p>
        </div>
      </form>
    </div>
    <div class="small-12 medium-6 large-4 columns" >
      <h4>Work With Me:</h4>
      <div class="row">
        <a class="small-12 medium-6 large-6 columns" target="_blank" href="{{myPers.linkedin}}">
          <i class="fi-social-linkedin small-12 medium-12 large-12 columns"></i>
          Mon Linkedin
        </a>
        <a class="noseperate small-12 medium-6 large-6 columns" href="mailto:{{myPers.email}}">
          <i class="fi-mail small-12 medium-12 large-12 columns"></i>
          {{myPers.email}}
        </a>
      </div>
    </div>
  </div>
      <p>© Marc Hurabielle <i class="fi-social-github" style="font-size:100%"></i></p>
</footer>
