<footer class="footer primary">
  <div class="row full-width">
    <div class="small-12 medium-9 large-9 columns">
      <h4>Me contacter</h4>
      <form name="myForm" class="row" ng-submit="reviewForm.$valid" novalidate>
        <div class="small-12 medium-12 large-6 columns nocenter">
          Name: <input type="text" name="nom" ng-model="F_name" ng-required="true"/>
          <p ng-hide="myForm.nom.$valid==true || myForm.nom.$pristine==true" class="help-text">obligatoire</p>
        </div>
        <div class="noseperate small-12 medium-12 large-6 columns nocenter">
          E-mail: <input type="email" name="email" id="yolo" ng-model="F_email" ng-required="true"/>
            <p ng-hide="myForm.email.$valid || myForm.email.$pristine==true" class="help-text">email non valide</p>
        </div>
        <div class="noseperate small-12 medium-12 large-12 columns nocenter">
          Message
          <textarea rows="5" cols="50" placeholder="5 characters min, 500 max" ng-required="true" ng-minlength="5" ng-maxlength="500" ng-model="testyy" show-invalid></textarea>
          <p class="help-text">au moins: {{0 + testyy.length}}/150 caractére</p>
        </div>
      </form>
      <a class="small expanded button secondary" href="#">Send Message</a>
    </div>
    <div class="small-12 medium-3 large-3 columns" >
      <h4>Work With Me:</h4>
      <div class="row">
        <a class="small-6 medium-12 large-12 columns" target="_blank" href="{{myPers.linkedin}}">
          <i class="fi-social-linkedin small-12 medium-12 large-12 columns"></i>
          Mon Linkedin
        </a>
        <a class="noseperate small-6 medium-12 large-12 columns" href="mailto:{{myPers.email}}">
          <i class="fi-mail small-12 medium-12 large-12 columns"></i>
          {{myPers.email}}
        </a>
      </div>
    </div>
  </div>
      <p>© Marc Hurabielle <i class="fi-social-github" style="font-size:100%"></i></p>
</footer>
