<div class="row">
  <h3>Skills</h3>
  <div class="row">
    <my-skill name="C++" pourcentage="50"></my-skill>
    <my-skill name="AngularJs" pourcentage="100"></my-skill>
    <my-skill name="C++" pourcentage="50"></my-skill>
    <my-skill name="C++" pourcentage="50"></my-skill>
    <my-skill name="AngularJs" pourcentage="100"></my-skill>
    <my-skill name="C++" pourcentage="50"></my-skill>
    <my-skill name="C++" pourcentage="50"></my-skill>
    <my-skill name="C++" pourcentage="50"></my-skill>
  </div>
</div>
