<div class="callout summary">
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <h1>{{myPers.firstname}} {{myPers.lastname}}</h1>
        <p>
          {{myPers.content}}
        </p>
      </div>
      <div class="show-for-medium medium-6 large-6 columns">
        <div class="">
          <div class="valign-outer">
            <div class="valign-middle">
              <div class="valign-inner">
                <div id="infoPerso" class="" style="padding-right: 7px;">
                  <i class="fi-home"></i> {{myPers.adresse}}
                  <div class="separator"></div>
                  {{myPers.postal_code}}
                  {{myPers.city}}
                  <div class="separator"></div>
                  <a href="tel:{{myPers.phone}}"><i class="fi-telephone"></i> {{myPers.phone}}</a>
                  <div class="separator"></div>
                  <a href="mailto:{{myPers.email}}" target="_blank"><i class="fi-mail"></i> {{myPers.email}}</a>
                  <div class="separator"></div>
                  <i class="fi-info"></i> {{myPers.mobility}}
                </div>
              </div>
            </div>
            <div class="callout secondary MyimgSummary">
              <img ng-src="{{myPers.photo}}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="incanvas=='true'" class="row" style="text-align:center;">
      <div class="callout secondary small-12 columns">
        <img ng-src="{{myPers.photo}}">
      </div>
      <div class="small-12 columns">
        <a href="tel:{{myPers.phone}}"><i class="fi-telephone"></i> {{myPers.phone}}</a>
      </div>
      <div class="small-12 columns">
        <a href="mailto:{{myPers.email}}" target="_blank">{{myPers.email}}</a>
      </div>
      <div class="small-12 columns">
        <a target="_blank" href="{{myPers.linkedin}}">
          <i style="font-size: 60px;" class="fi-social-linkedin small-12 medium-12 large-12 columns"></i>
        </a>
      </div>
    </div>
</div>
