<div class="top-bar">
  <div class="show-for-small-only">
      <div class="top-bar-title" data-responsive-toggle="example-menu">
        <button class="menu-icon" type="button" data-open="offCanvasLeft" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>
  </div>
  <div class="show-for-medium">
    <div class="top-barML">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Cv</li>
          <li ng-class="{'top-bar-highlight': hover1}" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false"><a href="" ng-click="test(mesId[0].id)">{{mesId[0].name}}</a></li>
          <li>
            <a>{{mesId[1].name}}</a>
            <ul class="dropdown menu">
              <li ng-repeat="object in mesId[1].tab">
                <a href="" ng-click="test(object.id)">{{object.name}}</a>
              </li>
            </ul>
          </li>
          <li ng-class="{'top-bar-highlight': hover3}" ng-mouseenter="hover3 = true" ng-mouseleave="hover3 = false"><a href="" ng-click="test(mesId[2].id)">{{mesId[2].name}}</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
